@use "variables" as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: v.$fuente-principal;
	font-size: 1.3rem;
	background-color: v.$gris-claro-azul;
}

main {
	min-height: 100vh;

	display: flex;
	align-items: center;
}
.contenedor {
	width: 95%;
	max-width: 1110px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
p {
	margin: 0 0 0 0;
}
